<!DOCTYPE html>
<html>
<head>
    <title>Verify Email - Cravr</title>
</head>

<body>

    <h2>Verify Your Email</h2>

    <p>
        Please enter the 6-digit verification code
        sent to your email.
    </p>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if success %}
        <p>{{ success }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input
            type="text"
            name="otp_code"
            maxlength="6"
            placeholder="Enter OTP"
            required
        >

        <button type="submit">
            Verify
        </button>
    </form>

    <br>

    <form method="POST" action="{% url 'resend_otp' %}">
        {% csrf_token %}

        <button type="submit">
            Resend OTP
        </button>

    </form>

</body>
</html>